__pycache__/
.idea
*.egg-info/
*.egg

*sublime-*
.vscode/
.vscode*

*code-workspace

prototyping/

build/
build/*

.ipynb_checkpoints

.mypy*


notebooks/lightning_logs/
notebooks/
notebooks/*

lightning_logs/
debug/
debug/*